.searchContainer {
  padding: 2.5rem 1.25rem;
}
@media only screen and (max-width: 40rem) {
  .searchContainer {
    padding: 0;
    padding-top: 2.5rem;
  }
  .searchMiscRow {
    padding-left: 1.25rem;
  }
}

.searchMiscRow {
  margin-bottom: 2rem;
}
.searchMiscRow > * {
  display: inline-block;
  vertical-align: top;
}

.backButton {
  height: 2.7rem;
  width: 2.7rem;
  border: none;
  text-align: center;
  background-color: transparent;
  margin-right: 1rem;
  font-size: 0;
  cursor: pointer;
  transition: transform 0.2s;
  outline: none;
  position: relative;
  box-sizing: border-box;
  padding: 0.5rem 0;
}

.backButton svg {
  display: block;
  float: left;
  fill: var(--dark-color);
  height: 100%;
  width: auto;
  display: block;
  transform: scale(-1, 1);
  opacity: 0.35;
  transition: opacity 0.2s ease-in-out;
}
.backButton:hover svg {
  opacity: 0.85;
}
.backButton:focus svg,
.backButton:active svg {
  opacity: 0.85;
}

.searchHeader {
  font-size: 1.35rem;
  line-height: 2.7rem;
  height: 2.7rem;
  padding-bottom: 0.25rem;
  position: relative;
  max-width: calc(100% - 2.7rem - 1rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.searchHeader strong {
  font-weight: 600;
}
@media only screen and (max-width: 550px) {
  .backButton {
    margin-right: 0.75rem;
  }
  .searchHeader {
    font-size: 1.2rem;
    max-width: calc(100% - 2.7rem - 0.75rem);
  }
}
