.responsiveContainer {
  --max-width: 84rem;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  height: auto;
  position: relative;
}

@media only screen and (max-width: 1600px) {
  .responsiveContainer {
    --max-width: 64rem;
  }
}
