.articleContainer {
  position: relative;
}

.article {
  width: 100%;
  display: flex;

  margin-bottom: 2.5rem;
  box-shadow: 0 0.15rem 0.6rem var(--shadow-color);
  border-radius: 6px;
  background-color: #ffffff;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
  backface-visibility: hidden;
  text-decoration: none;
}

.menu {
  box-shadow: 0 0.1rem 0.4rem var(--shadow-color);
}

@media only screen and (min-width: 550px) {
  .article:hover {
    box-shadow: 0 0.2rem 1rem var(--shadow-color);
  }
  .article:active {
    box-shadow: 0 0.2rem 1rem var(--shadow-color);
  }
}

.imageContainer,
.contentContainer {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
}

.imageContainer {
  flex-basis: 20rem;
}
.article[image='false'] .imageContainer,
.article[image-failed='true'] .imageContainer {
  display: none;
}

.contentContainer {
  flex-basis: 100%;
}
.article[image='true']:not([image-failed='true']) .contentContainer {
  flex-basis: calc(100% - 20rem);
}

.imageContainer img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: var(--light-color);
}

.contentContainer {
  padding: 1.75rem 2rem;
  box-sizing: border-box;
}

.contentContainer > h1 {
  font-size: 1.75rem;
  line-height: 1.4;
  margin-bottom: 0.65rem;
  transition: color 0.2s;
  font-weight: 600;
  padding-right: 2rem;
}

@media only screen and (min-width: 550px) {
  .article:active .contentContainer > h1 {
    color: var(--dark-blue-color) !important;
  }
  .article:hover .contentContainer > h1 {
    color: var(--blue-color);
  }
}

.contentContainer > p {
  font-size: 1rem;
  line-height: 1.65;
  color: var(--regular-color);
  opacity: 0.8;
}

.contentBottomArea {
  display: block;
  margin-top: 0.85rem;
  opacity: 0.85;
}

.contentBottomArea *:first-child {
  float: left;
}

.contentBottomArea *:last-child {
  float: right;
  opacity: 0.8;
}
.contentBottomArea * {
  font-size: 0.9rem;
}

@media only screen and (max-width: 60rem) {
  .imageContainer {
    flex-basis: 65vw;
  }
  .article:not([image='false']):not([image-failed='true']) + .menuContainer {
    top: 65vw !important;
  }
  .contentContainer {
    padding: 1.2rem 1.3rem;
    padding-bottom: 2rem;
  }
  .article {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .contentContainer > h1 {
    font-size: 1.35rem;
    line-height: 1.3;
    padding-right: 2.5rem;
  }
  .contentContainer > p {
    font-size: 0.9rem;
  }
  .contentBottomArea * {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 40rem) {
  .imageContainer {
    flex-basis: 50vw;
  }
  .article:not([image='false']):not([image-failed='true']) + .menuContainer {
    top: 50vw !important;
  }
  .article {
    box-shadow: none !important;
    border-radius: 0;
    margin: 0;
  }
  .article[image='false'],
  .article[image-failed='true'] {
    border-top: 2px solid var(--light-color);
  }
}
