.loader {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 0.25rem solid var(--blue-color);
  border-right-color: transparent;
  border-top-color: transparent;
  box-sizing: border-box;
  animation: spin 0.45s linear 0s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
