.input {
  display: block;
  height: 2.5rem;

  position: absolute;
  right: 0;
  top: 0.25rem;

  line-height: 2.5rem;
  border: none;
  padding-left: 2.5rem;
  background-image: url(/search.png);
  background-size: 1.25rem 1.25rem;
  background-position: 0.625rem calc(0.625rem - 1px);
  background-repeat: no-repeat;
  border: 1px solid var(--light-color);
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  font-size: 0.9rem;
  width: 2.5rem;
  cursor: pointer;
  transition: border-color 0.35s ease-in-out, width 0.35s ease-in-out, padding-right 0.35s;
}
.input::placeholder {
  color: var(--medium-color);
}
.input:focus {
  padding-right: 0.9rem;
  cursor: text;
  width: 20rem;
  border-color: var(--supermedium-color);
}

@media only screen and (max-width: 35rem) {
  .input:focus {
    width: 100%;
  }
}
